.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}
.short-footer {
    background-color: #000;
    color: #ccc;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    border-top: 1px solid #333;
}
.short-footer a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.short-footer a:hover {
    color: #fff;
}


@media (max-width: 600px) {
    .short-footer {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .short-footer a {
        margin-left: 10px;
    }
}
